{{/*
Shortcode: terminal-card

Description:
    Renders a timeline card with a header and metadata, plus custom inner content.

Parameters:
    header (string, required):
        The title or role for the timeline card.
    subheader (string, optional):
        HTML content for the card's subheader section, typically containing date, company, and location.

Usage Example:
    {{< terminal-card 
         header="Job Title" 
         subheader="<p>Jan. 2020 - Dec. 2021</p><p><b>Company</b></p><p>Location</p>" >}}
         <p>
             Summary
         </p>
         <ul>
             <li>Job detail 1.</li>
             <li>Job detail 2.</li>
             <li>Job detail 3.</li>
         </ul>
    {{< /terminal-card >}}
*/}}
<div class="terminal-card">
    <header>
        <b>{{ .Get "header" }}</b>
    </header>
    <div class="terminal-card-content">
        {{ with .Get "subheader" }}
        <div class="subheader">
            <center>
                {{ . | safeHTML }}
            </center>
        </div>
        {{ end }}
        <div>
            {{ .Inner }}
        </div>
    </div>
</div>