.gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
  
.image {
  /* Default behavior; you can override these in size-specific classes */
  margin: 0 auto;
}

.image img {
    border-radius: 8px; /* Adjust this value as needed */
    overflow: hidden;   /* Ensures the image is clipped to the rounded corners */
}

.image-large {
  flex: 0 0 100%;
}

.image-medium {
  flex: 0 0 50%;
}

.image-small {
  flex: 0 0 30%;
}

.image-auto {
  flex: 1;
}